# Django settings
DJANGO_SECRET_KEY=
PRODUCTION_HOST=
DJANGO_SETTINGS_MODULE=core.settings.dev

# Database settings
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Stripe settings
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=